.cards{
    margin: 20%;
    padding-top: 10%;
}
.button{
margin-left: 15%;
margin-top: 15%;
}
.card-title{
    margin: 25%;
}
.Jumbotron{
    background-color: black;
    color: aliceblue;
}
.body{
    background-color: rgb(219, 219, 219);
}
